.block {
    position: relative;
    padding: 20px 15px 20px 20px;
    border: 1px solid #747474;
    border-top: 1px solid #487922;
    background: #ededed;
    margin: 20px;
    width: 35%;
}
.block div {
    margin-bottom: 20px;
}
.block .currency-in, .block .currency-out {
    font-size: 1.3rem;
    text-align: right;
}
.currency-name {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
}


.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
}
.block .flex-item {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
}


@media only screen and (max-width: 40em) {
    .flex-row {
        flex-wrap: wrap;
    }
    .flex-row .block {
        width: 25%;
        height: 100%;
        margin: 10px;
    }
    .flex-row .block .flex-item:nth-of-type(2) {
        font-size: 25px;
    }
}
