/* .App {
  text-align: center;
} */

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
}
.flex-item {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}

/* .flex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.flex-item {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
} */

main, .site-content {
  background-color: #fff;
  box-shadow: 0 2px 4 px 0 rgba(0,0,0,.08);
  padding: 30px 20px;
}

.calc-res {
  font-size: 1.2rem;
}
.calc-res li {
  margin: 10px 0;
}

.well {
  text-align: center;
}
.main-container {
  min-height: calc(100vh - 250px);
}