.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
}
.flex-item {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
}

main {
  background-color: #fff;
  box-shadow: 0 2px 4 px 0 rgba(0,0,0,.08);
  padding: 30px 20px;
}

.calc-res {
  font-size: 1.2rem;
}

.well {
  text-align: center;
}
.main-container {
  min-height: calc(100vh - 190px);
}

@media only screen and (max-width: 600px) {
  .rate h3:nth-of-type(1) {
    margin-bottom: 10px;
  }
  .rate h3:nth-of-type(2) {
    margin-top: 10px;
  }
}