.calculator {
  display: flex;
}
.calc-res {
  font-size: 1.2rem;
}

.calculator .block form {
  margin-bottom: 10px;
}

.calculator .block .calc-res li {
  font-size: 1.2rem;
  display: inline-block;
  transition: all 1s ease;
}
.calculator .block .culc-res .calcline p {
  font-size: 1rem !important;
  margin-top: 0.2rem;
}

.calculator .block .culc-res .calcline {
  height: 60px;
  display: flex;
  margin-bottom: 0.1rem !important;
}

.calculator .block select {
  padding: 1px 1em 1px 0;
  margin: 0 2px;
}

@media only screen and (max-width: 600px) {
  .calculator .block input[type=submit] {
    margin-top: 25px;
  }
  .calculator .block {
    width: 80%;
  }
  .calculator .block .calc-res li {
    font-size: 1rem;
  }
}
